:root {
  --background-color: #4b0b83;
  --border-color: #ffffff;
  --button-background-color: #09b17e;
  --button-text-color: #000000;
  --display-background-color: #000000;
  --display-text-color: #ffffff;
  --rc-background-color: #a34c12;
  
  
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.react-calulator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: var(--background-color);
}

.react-calculator{
  border: 2px solid var(--border-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 650px;
  background-color: var(--rc-background-color);
}

.calculator-display {
  width: 96%;
  height: 150px;
  margin: 20px;
  padding: 10px;
  font-size: 2em;
  text-align: right;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--display-background-color);
  color: var(--display-text-color);
}

.calculator-button-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 96%;
}

.calculator-button {
  padding: 20px;
  font-size: 1.5em;
  border: 2px solid var(--border-color);
  border-radius: 10px;
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  cursor: pointer;
}